language: cpp
cache: ccache
sudo: required
dist: trusty
os:
  - linux
env:
  - JOB=PRE_COMMIT

addons:
  apt:
    packages:
      - git
      - python
      - python-pip
      - python2.7-dev
      - golang
before_install:
  -  pip install -U virtualenv pre-commit pip
  -  GOPATH=/tmp/go go get -u github.com/wangkuiyi/ipynb/markdown-to-ipynb
script:
  -  PATH=/tmp/go/bin:$PATH .travis/precommit.sh
notifications:
  email:
    on_success: change
    on_failure: always
